{% load cms_tags sekizai_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}This is my new project home page{% endblock title %}</title>
    {% render_block "css" %}
</head>
<body>
{% cms_toolbar %}
<div style="width: 940px; margin:0 auto">
    <h1>{{ SITE }}</h1>
    <h2>Welcome to our site</h2>
    {% block content %}
    <div style="width:80%; float:left;">
        {% placeholder "main" %}
    </div>
    <div style="width:20%; float:left;">
        {% placeholder "sidebar" %}
    </div>
    {% endblock content %}
</div>
{% render_block "js" %}
</body>
</html>