[run]
source = djangocms_installer
branch = True
omit =
    djangocms_installer/share/*
    djangocms_installer/__main__.py
    djangocms_installer/main.py
    djangocms_installer/compat.py
    djangocms_installer/config/urls_i18n.py
    djangocms_installer/config/urls_noi18n.py
    djangocms_installer/config/settings.py
    tests/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
